* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  overflow-x: hidden;
}
/* GENERAL REUSABLE COMPONENTS */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid-center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin: 0 0 3.2rem 0;
}
.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.2;
  margin: 0 0 9.6rem 0;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0 0 3.2rem 0;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin: 0 0 1.6rem 0;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 0.3rem #fff;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;

  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fdf2e9;
  color: #45260a;
}
.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border: 1px solid transparent;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.2rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* HELPER CLASSES */
.margin-right-sm {
  margin: 0 1.6rem 0 0 !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
strong {
  font-weight: 500;
}
